body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #003366;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  background: #fff;
  margin: 10px;
  border-radius: 8px;
}

#about img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

ul {
  list-style: square;
  padding-left: 20px;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}

footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}
